.trans3{
  width: 0%;
  height:1px;
  background: #f00;
  transion: all .8s ease 0s;
}
.trans3.active{
  width: 70%;
}
.trans4-container{
  position: relative;
  overflow: hidden;
}
.trans4{
  opacity:0;
  height: 250px;
  position: relative;
  display: block;
  background: url('bg.jpg')no-repeat center center/cover;
  transition: all .8s ease 0s;
}
.trans4.active{
  opacity:1;
}
.trans4::before{
  width: 100%;
  height: 100%;
  position: abusolute;
  display: block;
  content: '';
  background-color: #F00;
  transform: translateX(-100%);
  transition: all .8s ease 0s;
}
.trans4.active::before{
  transform: translateX(100%);
}